

urxvt.scrollBar: false

urxvt.font: xft:Fira Mono:pixelsize=12
urxvt.boldfont: xft:Fira Mono:pixelsize=12:weight=bold
urxvt.saveLines: 1000000

! special
*.foreground:   #d0d0d0
*.background:   #151515
*.cursorColor:  #d0d0d0

! black
*.color0:       #151515
*.color8:       #505050

! red
*.color1:       #ac4142
*.color9:       #ac4142

! green
*.color2:       #90a959
*.color10:      #90a959

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #6a9fb5
*.color12:      #6a9fb5

! magenta
*.color5:       #aa759f
*.color13:      #aa759f

! cyan
*.color6:       #75b5aa
*.color14:      #75b5aa

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5

! rofi
rofi.opacity:           70
rofi.width:             80
rofi.lines:             5
rofi.font:              Fira Mono 14
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.padding:           20
rofi.eh:                2
rofi.bw:                8
rofi.terminal:          termite

! rofi colours:           'bg',           'fg',           'bgalt',        'hlbg',         'hlfg'
rofi.color-normal:        argb:00151515,  argb:b3d0d0d0,  argb:00151515,  argb:b3505050,  argb:b3d0d0d0
rofi.color-urgent:        argb:00151515,  argb:b3d0d0d0,  argb:00151515,  argb:b3ac4142,  argb:b3d0d0d0
rofi.color-active:        argb:00151515,  argb:b3d0d0d0,  argb:00151515,  argb:b3505050,  argb:b3d0d0d0

!                   'background',       'border',       'separator'
rofi.color-window:  argb:b3151515,      argb:b3151515,  argb:b3151515
