! special
*.foreground:   #6688cc
*.background:   #000c18
*.cursorColor:  #6688cc

! black
*.color0:       #111111
*.color8:       #333333

! red
*.color1:       #ff9da4
*.color9:       #ff7882

! green
*.color2:       #d1f1a9
*.color10:      #b8f171

! yellow
*.color3:       #ffeead
*.color11:      #ffe580

! blue
*.color4:       #bbdaff
*.color12:      #80baff

! magenta
*.color5:       #ebbbff
*.color13:      #d778ff

! cyan
*.color6:       #99ffff
*.color14:      #78ffff

! white
*.color7:       #cccccc
*.color15:      #cccccc
